.card__img {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-self: flex-start;
  background-size: cover;
  background-position: center;
  padding-bottom: 50%;

}

@media screen and (max-width: 768px) {
  .card__img {
    height: 150px;
  }
}