@import url(./__img-container/card__img-container.css);
@import url(./__date/card__date.css);
@import url(./__content/card__content.css);
@import url(./__article/card__article.css);
@import url(./__source/card__source.css);
@import url(./__button/card__button.css);
@import url(./__button-container/card__button-container.css);
@import url(./__tag/card__tag.css);
@import url(./__img/card__img.css);
.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 576px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  box-shadow: 24px 24px 58px rgba(8, 29, 45, 0.1);
  border-width: 0;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 224px;
    height: 420px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    max-width: 288px;
  }
}

