.card__content {
  margin: 296px auto 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 352px;
}

@media screen and (max-width: 768px) {
.card__content{
  margin: 166px auto 16px auto;
  max-width: 192px;
}
}

@media screen and (max-width: 450px) {
  .card__content {
    max-width: 256px;
  }
}
