.user-info__container {
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-left: 104px;
}

@media screen and (max-width: 768px) {
  .user-info__container {
  margin-left: 40px;
  }
}


@media screen and (max-width: 450px) {
  .user-info__container {
    margin-left: 16px;
  }
}

