.popup__link {
  color: #2F71E5;
  text-decoration: none;
}

.popup__link.popup__link_registered {
  font-size: 18px;
line-height: 22px;
margin-top: 14px;
text-align: left;
margin-left: 0;
}

.popup__link_menu {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.popup__link_menu:last-of-type {
  margin-top: 24px;
}